body{
	/*background: #4B4543;*/
	background: #FFF;
	color: #383332;
	margin: 0px;
	font-size: .2em;
}
html, body{
	font-family: Helvetica Nueue, sans-serif;
}
textarea{
	font-family: Helvetica Nueue, sans-serif;
}
input{
	font-size: 1.3em;
}
.control-label{
	font-size: 1.5em;
}
.brand-container{
	margin: 0 auto 0 auto;
	text-align: center;
	max-width: 950px;
}
#header{
	background: #383332;
	height: 100%;
	padding: 20px;
	padding-bottom: 0px;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);	
}
#site-container{
	-moz-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);	
	background: -webkit-linear-gradient(143deg, rbga(255,69,0,.25) 0%, #4B4543 100%);
}
.sensitive{
	color: transparent;
	text-shadow: 0 0 10px black;
	-webkit-transition: all .1s linear;
}
.sensitive:hover{
	color: inherit;
	text-shadow: none;
}
.alignCenter{
	text-align:center;
}

.clean{
	list-style: none;
}
.dark{
	color: #616158;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
.light{
	color: #EAEAEA;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
h1{
	font-size: 3em;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
h2{
	 color:#404040;
}
h3{
	color: #0070C0;
	font-size: 1.4em;
}
h4{
	color: #404040;
	font-size: 1.1em;
	margin-bottom: 0px;
}
.brand{
	text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
	display: inline-block;
	margin: 0 auto 0 auto;
	line-height: .9em;
	color: #EAEAEA;
	font-size: 4.5em;
	font-family: Open Sans;
}
.orange{
	color: #FF4500;
}
.blue{
	color: #0070C0;
}
.brand:hover{
	color: #FAFAFA !important;
}
.btn-big{
	margin: 10px auto 10px auto;
	font-size: 2em;
	height: 70px;
}
a {text-decoration: none;}

a img {border: none;}

.error{
	background-color: #F8DBDB !important;
	border: 1px solid #E77776 !important;
}
.success{
	background-color: #9EDB9E !important;
	border: 1px solid #5BB75B !important;
}
.message-success{
	width: 500px;
	background-color: #9EDB9E !important;
	border: 1px solid #5BB75B !important;
	text-align: center;
	margin: 0 auto 0 auto;
}
#inputMessage{
	width: 300px;
	max-height: 200px;
	padding: .5em;
	overflow: hidden;
	line-height: 100%;
}
#contact-form{
	width: 30em;
	padding: .5em;
}
.hero-unit{
	background: #383332;
	padding: 2em;
	padding-top: .2em;
	color: #fff;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);	
}
.medium{
	width: 30em;
}
.small{
	width: 20em;
}
.large{
	width: 40em;
}
#navigation{
	margin: 0 auto 0 auto;
	max-width: 950px;
}
.nav{
	text-align: center;
}
.nav li{
	list-style-type: none;
	display: inline-block;
}
.nav li a{
	color: #FFF;
	margin: 1em;
	padding: .5em;
	padding-top: .1em;
	font-size: 1.75em;
	font-family: Open Sans;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}
.nav li a:hover{
	background: #FFF;
	color: #232323;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 0 30px rgba(255, 255, 255, .325);
}
#main{
	padding: .5em;
	padding-top: 1em;
	max-width: 950px;
	height: 100%;
	margin: 0 auto 0 auto;
	overflow: auto;
}
#footer-container{
	margin: -.5em;
	margin-top: 0;
	text-align: center;
	background: #383332;
	height: 100%;
	padding: 20px;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);	
}
@media all and (min-width: 320px){
	/*This needs to change the layout*/
	body{
		font-size: .3em;
	}
}
@media all and (min-width: 480px){
	/*This needs to change the layout*/
	body{
		font-size: .5em;
	}
}
@media all and (min-width: 768px){
	body{
		font-size: .8em;
	}
}
@media all and (min-width: 960px){
	body{
		font-size: 1em;
	}
}
