php_value include_path ".:/srv/www/doublehelixdev.com/public_html"
ErrorDocument 404 /404.php
<FilesMatch "\.php$">
# set the prepend file setting
php_value auto_prepend_file "includes/header.html"
php_value auto_append_file "includes/footer.html"
</FilesMatch>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule .* $0.php


